* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

}

.barba-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100vh;
  left: 0;
  z-index: 100;
}

